---
import { Icon } from "astro-icon";
import Picture from "../core/Picture.astro";
const {name, picture, stars, single, double, location, notes} = Astro.props;
---

<div class="flex flex-col border rounded-md dark:border-gray-700">
    <Picture
        src={picture.filename}
        alt={picture.alt}
        class="object-cover w-full aspect-3/2 rounded-t-md-"
        format="webp"
        widths={[200, 400, 800]} 
        aspectRatio="3:2" 
        sizes="(max-width: 800px) 100vw, 800px" />
    <div class="p-2">
        <h3 class="mt-2 text-lg font-semibold text-gray-700 capitalize dark:text-white">{name}</h3>

        {Array.from({ length: parseInt(stars) }).map((_, i) => (
            <Icon key={i} name="ic:round-star" class="w-4 h-4 inline" />
        ))}
        
        <dl>
            {single && (
                <dt class="font-semibold">Single</dt>
                <dd>{single} €</dd>
            )}
                        {double && (
                            <dt class="font-semibold">Double</dt>
                            <dd>{double} €</dd>
                        )}
                        {location && (
                            <dt class="font-semibold">Location</dt>
                            <dd>{location}</dd>
                        )}
                         {notes && (
                            <dt class="font-semibold">Notes</dt>
                            <dd>{notes}</dd>
                        )}                       
        </dl>
    </div>
</div>
