---
import { storyblokEditable} from '@storyblok/astro'
import KeynoteSpeaker from './KeynoteSpeaker.astro';
const { blok } = Astro.props
const { speakers } = blok;
---

    <section class="bg-white dark:bg-gray-900" {...storyblokEditable(blok)} id={blok.component}>
        <div class="h-[32rem] bg-gray-100 dark:bg-gray-800">
            <div class="container px-6 py-10 mx-auto">
                <h2 class="font-bold leading-tighter tracking-tighter mb-4 font-heading text-center text-gray-800 capitalize lg:text-4xl dark:text-white">{blok.title}</h2>
    
                <p class="max-w-2xl mx-auto mt-6 text-center text-gray-500 dark:text-gray-300">
                    {blok.text}
                </p>
            </div>
        </div>
        <div class="container px-6 py-10 mx-auto -mt-96">
            <div class="grid grid-cols-1 gap-8 mt-8 md:grid-cols-2 md:mx-48">


        {speakers.map(({name, picture, affiliation}) => (
            <KeynoteSpeaker 
                name={name} 
                picture={picture} 
                affiliation={affiliation} />
        ))}
    </div>
    </div>
    </section>
