---
import { storyblokEditable} from '@storyblok/astro'
import { RichTextSchema, renderRichText } from '@storyblok/astro'
import cloneDeep from "clone-deep"
const { blok } = Astro.props
const mySchema = cloneDeep(RichTextSchema)
const renderedRichText = await renderRichText(blok.text, {
  schema: mySchema,
  resolver: (component, blok) => {
    switch (component) {
      case "button":
        return `<a class="btn btn-primary w-full my-4" href="${blok.link.url}">${blok.text}</a>`;
        break;
      default:
        return `Component ${component} not found`;
    }
  },
});
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl dark:text-slate-400">
    <h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading text-center">
        {blok.title}
    </h2>
    <div class="grid gap-6 row-gap-10 md:grid-cols-2 items-center">
        <div class="md:pb-6 md:pr-16">
            <div class="prose dark:text-slate-400" set:html={renderedRichText}></div>
		</div>










		<div class="md:pb-6 md:pr-16">
			<h3 class="mb-8 text-xl lg:text-2xl font-bold font-heading">
				Fees
			</h3>

            <table class="table-auto w-full text-left whitespace-no-wrap">
                <thead>
                  <tr>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Type</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Student* or accompanying

                        person</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Regular</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="px-4 py-3">Early registration (until 2 June)</td>
                    <td class="px-4 py-3">75 €</td>
                    <td class="px-4 py-3">250 €</td>
                  </tr>
                  <tr>
                    <td class="border-t-2 border-gray-200 px-4 py-3">Late registration (from 3 June)</td>
                    <td class="border-t-2 border-gray-200 px-4 py-3">125 €</td>
                    <td class="border-t-2 border-gray-200 px-4 py-3">340 €</td>
                  </tr>
                </tbody>
              </table>
              <p class="text-gray-600 italic text-sm mt-4">
                * Students need to provide a letter from their advisor confirming their student status.
              </p>

		</div>
	</div>
</section>
