---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import PageLayout from '~/layouts/PageLayout.astro';
import ProgrammeDay from '~/components/programme/ProgrammeDay.astro';
const { blok } = Astro.props
console.log(blok);
---

<PageLayout {...storyblokEditable(blok)}>

<section class="max-w-6xl mx-auto">
  <h1 class="text-3xl text-center font-bold">{blok.title}</h1>
  <div class="grid md:grid-cols-2">
  {
    blok.programme?.map((blok) => {
      return <ProgrammeDay blok={blok} isExcerpt={true} />
    })
  }
    </div>


{
  blok.programme?.map((blok) => {
    return <ProgrammeDay blok={blok} isExcerpt={false} />
  })
}

  </section>
</PageLayout>