---
const { sessions } = Astro.props;
import { parse, format } from 'date-fns';
import slugify from '@sindresorhus/slugify';
import Paper from './paper.astro';
import Detail from './detail.astro';

const parseTime = (time) => {
    return format(parse(time, 'yyyy-MM-dd HH:mm', new Date()), 'HH:mm');
};
---

{
    sessions.map(({ name, startTime, endTime, sessions: subSessions }) => (
        <div class="grid md:grid-cols-2">
            <h4 class="font-bold text-3xl">
                {parseTime(startTime)}
                {endTime && ` - ${parseTime(endTime)}`} {name}
            </h4>
            <div>
                {subSessions.map(({ title, room, details }) => (
                    <div class="mb-10" id={`${slugify(title)}`}>
                        <h4 class="text-xl font-bold mb-5">
                            {title} {room && `(${room})`}
                        </h4>
                        <div class="space-y-4 border-b-2 pb-4 session">
                            {details &&
                                details.map(({ title, authors, detail, component }) =>
                                    component === 'paper' ? (
                                        <Paper title={title} authors={authors} />
                                    ) : (
                                        <Detail title={title} detail={detail} />
                                    )
                                )}
                        </div>
                    </div>
                ))}
            </div>
        </div>
    ))
}
